<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register - Simple Form</title>
    <link rel="stylesheet" href="register.css" />
  </head>
  <body>
    <!-- Navigation Bar -->
    <%- include("../components/navbar.ejs") %>

    <!-- Registration Form -->
    <div class="form-container">
      <div class="form-card">
        <h2 class="form-title">Reset Password</h2>
        <form action="/resetPassword/<%- email %>/<%- otp %>" method="post">
          <div class="form-group">
            <label for="password">New Password</label>
            <input
              type="password"
              id="password"
              name="newPassword"
              placeholder="••••••••"
              required
              minlength="5"
              required
            />
          </div>

          <div class="form-group">
            <label for="password">Confirmation Password</label>
            <input
              type="password"
              id="password"
              name="passwordConfirm"
              placeholder="••••••••"
              required
              minlength="5"
              required
            />
          </div>
          <!-- <input type="hidden" name="email" value="<%- email %>" />
          <input type="hidden" name="otp" value="<%- otp %>" /> -->
          <button type="submit" class="submit-btn">Update Password</button>
        </form>
      </div>
    </div>
  </body>
</html>
